body {
  font-family: Arboria, sans-serif;
  font-weight: 300;
  background: #FDFFFC;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes moveBlob {
  0% {
    transform: translate(-50%, -50%) scale(1) skew(0deg, 0deg);
  }

  25% {
    transform: translate(-50%, -50%) scale(1.2) skew(20deg, -10deg);
  }

  50% {
    transform: translate(-50%, -50%) scale(1.4) skew(20deg, -10deg);
  }

  75% {
    transform: translate(-50%, -50%) scale(1.2) skew(30deg, 0deg);
  }

  100% {
    transform: translate(-50%, -50%) scale(1) skew(0deg, 0deg);
  }
}

.background-blob {
  position: absolute;
  top: 50%;
  left: 70%;
  width: 600px;
  height: 550px;
  background: radial-gradient(circle, #ba1919, transparent);
  filter: blur(150px);
  transform: translate(-50%, -50%);
  animation: moveBlob 20s infinite ease-in-out;
  z-index: -1;
}

#app {
  width: 90%;
  max-width: 600px;
}

#text {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  white-space: pre-wrap;
}

button {
  font-size: 1.1em;
  font-weight: 300;
  color: #0C120C;
  font-family: arboria, sans-serif;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease;
}

button:hover {
  background: #f0f0f0;
}

.hidden {
  display: none;
}